.progress {
    max-width: 298px;
    width: calc(40% - 2px);
    height: 18px;
    display: block;
    position: relative;
    border-radius: 3px;
    border: solid 1px rgba(90, 90, 90, 0.15);
    margin-left: 10px;
    padding: 0;
    overflow: hidden;
    div {
        border-radius: 3px;
        boder: 0px;
        position: relative;
        display: block;
        float: left;
        height: 18px;
        min-width: 0px;
        span {
            border: 0px;
            border-radius: 3px;
            width: 100%;
            height: 18px;
            display: inline-block;
            &.on {
                background: #FF6C52;
            }
            &.done {
                background: #98D515;
            }
        }
    }
}
